:root {
    --main-color : #222831;
    --font-color : #EEEEEE;
    --sub-color : #393E46;
    --sub-sub-color : #00ADB5;
    --hr : #609092;
}

html body {
    background-color: var(--main-color);
    color: var(--font-color);
    font-weight: bolder;
}

div.teks, span.teks {
  color : var(--sub-sub-color);
}

.hr1 {
    border: 5px solid var(--hr);
    width: 4em;
    border-radius: 5px;
}

.hr2 {
  border-top: 5px dotted white;
}

.hr3 {
  border-top: 5px dotted var(--sub-sub-color);
}

div.rec {
  width: 50px;
  height: 20px;
  background-color: var(--sub-sub-color);
  border-radius: 50px;
  
}

div.card {
    background-color: var(--sub-sub-color);
}

div.image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

img {
  display: inline;
  margin: 0 -77px;
  height: 100%;
  width: auto;
}

div.icon-con {
  background-color: var(--font-color);
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

img.icon {
  filter: invert(1);
  width: 40px;
  height: auto;
}

img.icon2 {
  filter: invert(1);
  width: 35px;
  height: auto;
}

a.copy {
  color: var(--font-color);
  text-decoration: none;
}